{% extends 'base.html' %}

{% block content %}
<h1> Изменение пароля </h1>
<form method="post" action="{{ url_for('change_password') }}">
  <div class="mb-3">
      <label for="currentPassword" class="form-label">Текущий пароль:</label>
      <input type="text" class="form-control" id="currentPassword" name="currentPassword">
  </div>
  <div class="mb-3">
      <label for="newPassword1" class="form-label">Новый пароль:</label>
      <input type="text" class="form-control" id="newPassword1" name="newPassword1">
  </div>
  <div class="mb-3">
      <label for="newPassword2" class="form-label">Подтверждение пароля:</label>
      <input type="text" class="form-control" id="newPassword2" name="newPassword2">
  </div>
  <button type="submit" class="btn btn-primary">Сохранить</button>
</form>
{% endblock%}